---
import { getCollection } from 'astro:content';

import AuthorCard from '@components/AuthorCard.astro';
import { siteConfig } from '@config/site-config';
import MainLayout from '@layouts/MainLayout.astro';

const authors = await getCollection('author');
---

<MainLayout title="Authors list">
  <section>
    <h1
      class="text-3xl font-semibold text-white capitalize lg:text-4xl dark:text-white"
    >
      {siteConfig.title}
    </h1>
  </section>

  <!-- Author Card -->
  <section class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    {authors.map((author) => <AuthorCard author={author} />)}
  </section>

</MainLayout>
